contourpy==1.4.0
cycler==0.12.1
fonttools==4.66.1
gdstk==1.0.1
jsonschema==4.26.0
kiwisolver==1.5.1
matplotlib==3.11.2
numpy==2.5.3
packaging==26.3
pandas==3.0.6
pillow==12.3.0
pyparsing==3.3.3
python-dateutil==2.9.0.post0
PyYAML==6.0.3
referencing==0.37.0
scikit-rf==2.1.0
scipy==1.18.1
shapely==2.2.0
